.playerName {
  display: inline-block;
  width: 10rem;
  font-size: 1rem;
  color: #e1dec7;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.activePlayer {
  width: 100%;
}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.player input {
  font: inherit;
  font-size: 1rem;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #46432f;
  text-align: center;
  text-transform: uppercase;
}

.playerSymbol {
  margin-left: 1rem;
  font-size: 1rem;
  color: #e1dec7;
}

@media (max-width: 600px) {
  .playerName {
    text-align: center;
    font-size: 12px;
    margin-left: -3rem;
  }

  .playerSymbol {
    font-size: 12px;
    margin-left: 1rem;
  }

  .player input {
    font-size: 14px;
    width: 8rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  .submitButton {
    margin-left: 2rem;
    font-size: 12px;
  }
}