@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(circle at top,
      rgba(241, 210, 70, 0.98),
      rgba(250, 176, 103, 0.87)),
    url('/src/assets/bg-pattern-dark.png');
  background-repeat: repeat;
  background-size: 100% 100%, 100% 30%, 100% 100%;
  min-height: 50rem;
}

header {
  text-align: center;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: #3f3b00;
}

.gameContainer {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#players li {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid transparent;
}

#players.highlight-player li.active {
  border-color: #f6e35a;
  animation: pulse 2s infinite ease-in-out;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: #f6e35a;
}

#players button {
  width: 3rem;
  border: none;
  background: none;
  color: #c3ba78;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.5rem 2rem;
  text-align: center;
}

#players button:hover {
  color: #f8ca31;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  #players li {
    display: block;
  }

  #players button {
    padding-left: 1rem;
  }

  .gameContainer {
    width: 90%;
  }  
}